<div class="d-flex justify-content-around m-4">
    <h3>Welcome @Context.Session.GetString("FName")</h3>

    <div>
        <a class="m-3" href="/weddings"><span class="fs-5">Home</span></a>
        <a class="m-3" href="/weddings/new"><span class="fs-5">Plan a Wedding</span></a>
        <a class="m-3" href="/logout"><span class="fs-5">Logout</span></a>
    </div>
</div>