@model LoginUser
<form asp-action="LoginUser" asp-controller="Home" method="post">

    <div class="m-3">
        <label asp-for="LEmail"></label>
        <input asp-for="LEmail" class="form-control">
        <span asp-validation-for="LEmail" class="text-danger"></span>
    </div>

    <div class="m-3">
        <label asp-for="LPassword"></label>
        <input asp-for="LPassword" class="form-control">
        <span asp-validation-for="LPassword" class="text-danger"></span>
    </div>

    <button type="submit">Login</button>

</form>